h1 {
  margin-bottom: 30px;
}
.suggestions {
  background: #282828;
  padding: 0 16px 16px;
}
.suggestions.fixed {
  position: fixed;
  top: 20px;
}
.suggestions .section-divider {
  border-bottom-color: #333333;
  padding: 18px 0 4px;
}
.suggestions .suggestion {
  height: 50px;
  margin-top: 16px;
  padding: 7px 0 7px 60px;
  position: relative;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}
.suggestions .suggestion.following {
  opacity: 0;
}
.suggestions .suggestion button {
  float: right;
  margin-left: 12px;
  margin-top: 4px;
}
.suggestions .suggestion .media-object {
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.suggestions .suggestion .media-object .mo-info {
  display: none;
}
.feed .panel {
  margin-bottom: 20px;
}
.reactions {
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  font-weight: 200;
  color: #A0A0A0;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  white-space: nowrap;
}
.reactions .count {
  color: #FFFFFF;
  display: inline-block;
  margin: 10px 0;
  padding: 2px 0;
}
.story {
  background: #282828;
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: 200;
  color: #A0A0A0;
  text-transform: normal;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 16px 16px 0;
}
.story.no-plays {
  padding-bottom: 16px;
}
.story.no-plays .streams {
  display: none;
}
.story .share-object {
  margin-bottom: 16px;
}
.story .share-object .media-object {
  width: 50px;
}
.story .share-object .media-object .mo-info {
  display: none;
}
.story .share-object .share-data,
.story .share-object .share-meta {
  margin-left: 64px;
}
.story .share-object .share-data {
  margin-top: 8px;
}
.story .share-object .share-meta {
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  font-weight: 200;
  color: #A0A0A0;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
.story .share-group .lead {
  color: #FFFFFF;
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: 200;
  color: #A0A0A0;
  text-transform: normal;
}
.story .share-group .resource {
  border-color: #333333;
  border-style: solid none;
  border-width: 1px;
}
.story .share-group .media-object-small.media-object-horizontal {
  height: 56px;
}
.story .share-group .media-object-small.media-object-horizontal .mo-image-wrapper {
  height: 56px;
  width: 56px;
}
.story .share-group .media-object-small.media-object-horizontal .mo-info {
  height: 56px;
  margin-left: 56px;
  padding-top: 7px;
  min-height: 56px;
}
.story .share-group .media-object-small.media-object-horizontal .mo-subtitle {
  display: block;
}
.story .share-group .media-object-small.media-object-horizontal .mo-title {
  margin-bottom: 1px;
}
.story .share-group .media-object-small.media-object-horizontal.media-object-artist .mo-image,
.story .share-group .media-object-small.media-object-horizontal.media-object-user .mo-image {
  bottom: 5px;
  height: inherit;
  left: 5px;
  right: 5px;
  top: 5px;
  width: inherit;
}
.story .share-group .media-object-small.media-object-horizontal.media-object-artist .mo-info,
.story .share-group .media-object-small.media-object-horizontal.media-object-user .mo-info {
  padding-top: 17px;
}
.story .share-group .media-object-small.media-object-horizontal.media-object-artist .mo-subtitle,
.story .share-group .media-object-small.media-object-horizontal.media-object-user .mo-subtitle {
  display: none;
}
.story .share-group .media-object-small.media-object-horizontal.playing .mo-title {
  color: $primary-accent-color;
}
.empty-state {
  background: #282828;
  height: 400px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}
.empty-state i {
  color: #FFFFFF;
  line-height: 48px;
}
.empty-state i:before {
  font-family: "glue1-spoticon";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  line-height: inherit;
  vertical-align: bottom;
  content: "\f121";
  font-size: 48px;
}
.empty-state p {
  color: #A0A0A0;
}
.empty-state .message {
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 124px;
  width: 420px;
  position: absolute;
}
.pagination-throbber {
  padding-bottom: 16px;
}
.pagination-throbber .throbber {
  margin: 0 auto;
}
