.billboard-ad {
  display: none;
  z-index: 9;
  /* More than this makes it cover the search dropdown */
  overflow: hidden;
  opacity: 0;
  background: rgba(18, 19, 20, 0.95);
  transition: background-color 0.5s, opacity 0.5s;
}
.billboard-ad a {
  border: none;
}
.billboard-ad.dummy {
  display: block;
  visibility: none;
}
.billboard-ad.visible {
  display: -webkit-box;
  display: -moz-box;
  -display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.billboard-ad.ready {
  opacity: 1;
}
.billboard-ad .minimizer,
.billboard-ad .maximizer {
  position: absolute;
  outline: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  color: #FFFFFF;
  opacity: .3;
  transition: opacity .5s;
}
.billboard-ad .minimizer:hover,
.billboard-ad .maximizer:hover {
  opacity: .7;
}
.billboard-ad .minimizer:focus,
.billboard-ad .maximizer:focus {
  opacity: .9;
}
.billboard-ad .minimizer {
  display: none;
  top: 15px;
  right: 20px;
}
.billboard-ad .maximizer {
  display: none;
  top: 20px;
  left: calc(50% - 315px);
  z-index: 9;
  background: #000000;
  padding: 3px 4px 4px 4px;
  border-radius: 2px;
  transition: top 0.5s, left 0.5s;
}
.billboard-ad .countdown {
  position: absolute;
  top: 17px;
  right: 20px;
}
.billboard-ad .billboard {
  position: static;
  transform: translate3d(0, 0, 0);
  transition: width 0.5s, height 0.5s, bottom 0.5s, left 0.5s, transform 0.5s, margin-bottom 0.5s;
  pointer-events: auto;
  cursor: pointer;
}
.billboard-ad .billboard video,
.billboard-ad .billboard img {
  height: 100%;
  width: 100%;
}
.billboard-ad .billboard .disclaimer {
  position: absolute;
  top: -35px;
  display: block;
  width: 100%;
  text-align: center;
  color: #dfe0e6;
}
.billboard-ad .footer {
  position: absolute;
  bottom: -122px;
  left: 0;
  right: 0;
  height: 122px;
  transition: bottom 0.5s;
  pointer-events: auto;
  border-top: 1px solid #282828;
  background-color: #181818;
}
.billboard-ad .footer .companion {
  position: absolute;
  left: calc(50% - 364px);
  bottom: 16px;
  height: 90px;
  width: 720px;
  transition: left 0.5s;
  cursor: pointer;
  margin-left: 6px;
}
.billboard-ad .footer .companion img {
  height: 100%;
  width: 100%;
}
.billboard-ad.minimized {
  background: rgba(18, 19, 20, 0);
  pointer-events: none;
}
.billboard-ad.minimized .minimizer {
  display: none;
}
.billboard-ad.minimized .companion {
  left: calc(50% - 284px);
}
.billboard-ad.minimized .maximizer {
  display: block;
}
.billboard-ad.minimized .billboard {
  position: absolute;
  bottom: 16px !important;
  left: calc(50% - 448px);
  height: 90px;
  width: 164px;
  transform: scale(1, 1);
  overflow: hidden;
}
.billboard-ad.minimized .billboard .disclaimer {
  display: none;
}
.billboard-ad.minimized .footer {
  bottom: 0px;
}
.billboard-ad.has-been-maximized .footer {
  bottom: 0;
}
.billboard-ad.has-been-maximized .minimizer {
  display: block;
}
.billboard-ad.modal-expanded.video .billboard {
  width: 800px;
}
.billboard-ad.has-been-minimized .countdown {
  display: none;
}
.billboard-ad .modal-expanded {
  left: 0!important;
}
/**
 * Media queries to scale the ad based on screen size
 */
@media (min-height: 0px) and (max-height: 600px) {
  .billboard-ad .billboard {
    transform: scale(0.6, 0.6);
  }
}
@media (min-height: 600px) and (max-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.7, 0.7);
  }
  .billboard-ad.has-been-maximized .billboard {
    margin-bottom: 125px;
  }
}
@media (min-width: 0px) and (max-width: 900px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.6, 0.6);
  }
}
@media (min-width: 900px) and (max-width: 1000px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.7, 0.7);
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.8, 0.8);
  }
}
@media (min-width: 1100px) and (max-width: 1200px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.9, 0.9);
  }
}
.blurred {
  -webkit-filter: blur(10px);
  transform: scale(1.1);
  opacity: 0.65;
}
#leaderboard-ad-wrapper {
  z-index: 4;
  position: relative;
  overflow: hidden;
}
#leaderboard-ad-element {
  width: 760px;
  height: 90px;
  margin: 16px auto;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 1024px) {
  #leaderboard-ad-element {
    padding: 0 8px;
    margin: 8px auto;
  }
}
@media (max-height: 768px) {
  #leaderboard-ad-element {
    margin: 8px auto;
  }
}
.ne-bg-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.8;
}
.bg-centered {
  background-position: center;
}
.blurred {
  -webkit-filter: blur(10px);
  filter: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20id%3D%22blur%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2210%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E#blur');
  opacity: 0.4;
}
.ne-header {
  padding-bottom: 20px;
}
.ne-container {
  z-index: 2;
  padding-top: 25px;
}
.ne-container .ne-container-center {
  max-width: 685px;
  margin: 0 auto;
}
.ne-container .ne-title {
  font-size: 36px;
  line-height: 38px;
}
.ne-container .ne-attrib {
  font-size: 14px;
  margin-top: 10px;
}
.ne-container .exclusive {
  color: #7ab800;
}
.ne-bottom-fade {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 52px 105px 121px #181818;
}
.ne-left-fade {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -moz-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(18, 19, 20, 0)), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to left, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* W3C */
}
.ne-right-fade {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: -moz-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left top, color-stop(0%, rgba(18, 19, 20, 0)), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(18, 19, 20, 0) 0%, #181818 100%);
  /* W3C */
}
/* GLUE OVERRIDES */
.h-main-content .h-title {
  max-height: 79px;
  margin-bottom: 0;
}
.h-main-content .media-object {
  margin-bottom: 0;
}
.h-main-content .h-description {
  font-size: 12px;
  color: #ADAEB3;
}
.ne-container.sponsored {
  height: 350px;
}
.sponsored-credits {
  position: absolute;
  right: 16px;
  bottom: 16px;
  max-height: 28px;
  max-width: 230px;
  opacity: 0.6;
}
@media screen and (max-width: 750px) {
  .sponsored-credits {
    display: none;
  }
}
/* GLUE RESIZING OVERRIDES */
@media screen and (max-width: 804px) {
  .h-media {
    width: 210px;
    padding-bottom: 16px;
  }
  .h-description {
    display: -webkit-box;
    visibility: visible;
  }
  .h-controllers {
    left: auto;
  }
}
#hpto {
  position: relative;
  overflow: hidden;
}
#hpto-container {
  max-height: 350px;
  margin-bottom: 14px;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: height 500ms ease;
}
#hpto-container .h-controllers {
  left: auto!important;
}
#hpto-container.hpto-closed {
  height: 0px;
}
.hpto-interactive {
  width: 1200px;
  height: 270px;
  overflow: hidden;
  margin: 0px auto;
  border: none;
  display: block;
}
.ad-iframe {
  width: 800px;
  height: 235px;
  margin: 10px auto 25px;
  border: none;
  display: block;
  overflow: hidden;
}
.hpto-button {
  position: absolute;
  right: 30px;
  top: 24px;
  color: #f6f8ff;
  background: #29292d;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .2s ease;
  padding: 7px 16px 5px 16px;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 9px;
  letter-spacing: 2px;
  z-index: 3;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.hpto-button:hover {
  opacity: 0.8;
  background-color: #3d3e43;
  color: #f6f8ff;
}
.no-hover:hover {
  opacity: 0.4;
  background-color: #29292d;
  cursor: default;
}
/* For html hptos with bg imgs to align with container bg img */
.min-width {
  min-width: 800px;
}
@media screen and (max-width: 804px) {
  .hpto-button {
    display: none;
  }
}
.saf-video-takeover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.saf-video-takeover.will-maximize {
  -webkit-transform-origin: -15% 80%;
  -webkit-transform: scale(0, 0);
}
.saf-video-takeover.will-maximize.maximize {
  transition: -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(1, 1);
}
.saf-video-takeover.will-minimize {
  -webkit-transform-origin: -15% 80%;
  -webkit-transform: scale(1, 1);
}
.saf-video-takeover.will-minimize.minimize {
  transition: -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(0, 0);
}
.saf-video-takeover-min .saf-video-takeover {
  background: #000;
}
.saf-video-takeover-max .saf-video-takeover {
  background: rgba(18, 19, 20, 0.95);
}
.saf-video-takeover-video video {
  cursor: pointer;
}
.saf-video-takeover-min .saf-video-takeover-video video {
  width: 100%;
  padding: 0 10px;
}
@media (max-width: 1000px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 540px;
    margin: 0px;
  }
}
@media (min-width: 1000px) and (max-width: 1279px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 640px;
    margin: 80px;
  }
}
@media (min-width: 1280px) and (max-width: 1899px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 854px;
    margin: 100px;
  }
}
@media (min-width: 1900px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 1280px;
    margin: 150px;
  }
}
.saf-video-takeover-btn-min,
.saf-video-takeover-btn-max {
  display: none;
  background: none;
  border: none;
  color: #FFFFFF;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.saf-video-takeover-btn-max {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: .3;
  transition: opacity .5s;
}
.saf-video-takeover-btn-max:hover {
  opacity: .7;
}
.saf-video-takeover-btn-max:focus {
  opacity: .9;
}
.saf-video-takeover-max .saf-video-takeover-btn-max {
  display: block;
}
html.glue2 #view-video-ad .saf-video-takeover-view {
  z-index: 1025;
}
html.glue2 #view-video-ad .saf-video-takeover-btn-max {
  -webkit-app-region: no-drag;
}
.saf-video-takeover-btn-min {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity .5s;
}
.saf-video-takeover-min .saf-video-takeover-btn-min {
  display: block;
}
.saf-video-takeover-min:hover .saf-video-takeover-btn-min {
  opacity: 1;
}
/**
 * Local components.
 */
.location__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.location__name {
  flex-grow: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: visible;
}
.change-location__btn {
  margin-left: 16px;
  margin-top: 0.5em;
}
.change-location__dropdown {
  z-index: 10;
  /* otherwise section header border shows through !? */
  position: absolute;
  width: 100%;
  background-color: #282828;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 44px;
  font-weight: 200;
}
.static .change-location__dropdown {
  display: inline-block;
  position: static;
}
.change-location__standalone {
  background: #181818;
  display: flex;
  align-items: center;
}
.change-location__standalone > div {
  position: relative;
  width: 40%;
  margin: 0 16px;
}
.change-location__standalone .change-location__list {
  position: absolute;
  width: 100%;
  background-color: #282828;
}
.change-location__standalone .change-location__item {
  margin-right: 0;
  margin-left: 0;
}
.change-location__standalone .change-location__form {
  margin: 1em 0 0;
}
.change-location__standalone .button {
  margin-top: 1em;
}
.change-location__form {
  margin: 16px 16px 0px 16px;
}
.change-location__input {
  width: 100%;
  color: #FFFFFF;
  font-weight: 300;
  border: 0;
  padding-left: 22px;
  background-color: transparent;
}
.change-location__input:focus {
  outline: none;
}
.change-location__label {
  background-color: #333333;
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  padding-left: 8px;
}
.change-location__label::before {
  position: absolute;
}
.change-location__list {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 16px;
  max-height: 22vh;
  overflow-y: scroll;
}
.change-location__list::-webkit-scrollbar-track {
  background-color: #282828;
}
.change-location__list::-webkit-scrollbar-corner {
  background-color: #333333;
}
.change-location__list::-webkit-scrollbar {
  width: 8px;
  background-color: #333333;
}
.change-location__list::-webkit-scrollbar-thumb {
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #333333;
}
.change-location__item,
.change-location__error {
  margin: 0px 8px 0px 16px;
  text-align: left;
}
.change-location__error,
.change-location__link {
  padding: 0px 16px;
}
.change-location__item {
  border-bottom: 1px solid #333333;
  padding: 0;
}
.change-location__item:focus,
.change-location__item:hover {
  cursor: pointer;
  outline: none;
  background-color: #333333;
}
.change-location__link {
  display: block;
  /* This selector is intense to override a GLUE default */
}
.change-location__link:hover:not(.button),
.change-location__link:focus:not(.button) {
  border-bottom-color: transparent;
  text-decoration: underline;
}
.concert-list-row {
  margin: 0;
  padding: 10px;
  display: table;
  width: 100%;
  height: 70px;
  overflow: hidden;
  border-bottom: 1px solid #282828;
}
.concert-list-row:hover {
  background-color: #333333;
}
.concert-list-row:hover .right,
.concert-list-row:hover .mo-play {
  visibility: visible;
}
.concert-list-row.has-badge.expanded {
  border-bottom: 0;
}
.concert-list-row > div {
  display: table-cell;
  vertical-align: middle;
}
.concert-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
}
.concert-avatar .mo-info {
  display: none;
}
.concert-avatar .media-object-artist .mo-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.concert-avatar .mo-wrapper,
.concert-avatar .mo-image-wrapper {
  overflow: visible;
}
.concert-avatar .mo-image-background,
.concert-avatar .mo-image-background-color {
  border-radius: 50px;
}
.concert-avatar .mo-wrapper button:not(.mo-play) {
  display: none;
}
.concert-avatar .mo-overlay {
  border-radius: 50px;
  width: 50px;
}
.concert-avatar .mo-play {
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50px;
}
.concert-avatar .mo-play:before {
  line-height: 50px;
  font-size: 25px;
  padding-left: 12.5px;
}
.concert-title {
  width: 25%;
  min-width: 25%;
  padding: 0 10px;
}
.concert-dates {
  position: relative;
  width: 20%;
  min-width: 20%;
  padding: 0 10px;
}
.concert-dates .spoticon-chevron-down-16,
.concert-dates .spoticon-chevron-up-16 {
  position: absolute;
  left: -15px;
}
.concert-dates .spoticon-chevron-down-16:before,
.concert-dates .spoticon-chevron-up-16:before {
  font-size: 0.8em;
}
.concert-dates .spoticon-chevron-down-16 {
  margin-top: -1px;
}
.concert-count {
  background-color: #A0A0A0;
  color: #191919;
  border-radius: 2px;
  padding: 0 2px;
  margin-left: 4px;
  font-style: normal;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  top: -1px;
}
.concert-location {
  position: relative;
  padding-right: 180px;
  min-width: 25%;
}
.concert-buy {
  position: absolute;
  right: 0;
  top: 10px;
  visibility: hidden;
  width: 180px;
  min-width: 180px;
  height: 28px;
  line-height: 28px;
  text-align: right;
}
.concert-buy > a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}
.concert-buy > a:focus {
  border-bottom-color: transparent;
}
.concert-list--expanded {
  border-bottom: 1px solid #282828;
}
.concert-list--expanded .concert-list-row {
  border: 0;
}
.concert-list--expanded .concert-title,
.concert-list--expanded .concert-avatar {
  visibility: hidden;
  pointer-events: none;
}
.concert-list--expanded .media-object {
  display: none;
}
@media screen and (max-width: 768px) {
  .concert-location {
    min-width: 180px;
    padding-right: 0;
  }
  .concert-location > span {
    display: none;
  }
  .concert-buy {
    position: static;
    width: auto;
  }
  .concert-title {
    width: 50%;
  }
}
.concert-list {
  padding-bottom: 2em;
}
.concert-list:last-child {
  padding-bottom: 1em;
}
.concert-entity-row {
  margin: 25px 0 0 0;
  padding: 10px;
  display: table;
  width: 100%;
  overflow: hidden;
}
.concert-entity-row .location__name {
  margin-top: 0;
  white-space: normal;
}
.concert-entity-avatar {
  width: 100px;
  min-width: 100px;
  height: 100px;
}
.concert-entity-avatar .mo-info {
  display: none;
}
.concert-entity-avatar .media-object-artist .mo-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.concert-entity-avatar .mo-wrapper,
.concert-entity-avatar .mo-image-wrapper {
  overflow: visible;
}
.concert-entity-avatar .mo-image-background,
.concert-entity-avatar .mo-image-background-color {
  border-radius: 100px;
}
.concert-entity-avatar .mo-wrapper button:not(.mo-play) {
  display: none;
}
.concert-entity-avatar .mo-overlay {
  border-radius: 100px;
  width: 100px;
}
.concert-entity-avatar .mo-play {
  height: 100px;
  width: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 100px;
}
.concert-entity-avatar .mo-play:before {
  line-height: 100px;
  font-size: 50px;
  padding-left: 25px;
}
/**
 * General styles.
 */
.hpto-container {
  overflow: hidden;
  position: relative;
}
.local-nav {
  height: 45px;
  overflow: hidden;
  /* Prevent overflow on small screens */
}
.static-block,
.drildown-block {
  margin-top: 20px;
}
.hub-page {
  min-height: 660px;
  margin-top: 1em;
}
.section-divider {
  margin-bottom: 0;
  padding-bottom: 12px;
}
.error {
  overflow: hidden;
  text-align: center;
  margin-top: 32px;
}
.error .spoticon {
  margin: 0;
}
.error .spoticon:before {
  display: block;
  font-size: 12vw;
  line-height: 1;
  margin-bottom: 0.25em;
}
.concerts-help-text {
  padding: 0 0 2em 70px;
}
