@import '../base/variables';


.billboard-ad {
  display: none;
  z-index: 9;
  /* More than this makes it cover the search dropdown */
  overflow: hidden;
  opacity: 0;
  background: rgba(18, 19, 20, 0.95);
  transition: background-color 0.5s, opacity 0.5s;
}
.billboard-ad a {
  border: none;
}
.billboard-ad.dummy {
  display: block;
  visibility: none;
}
.billboard-ad.visible {
  display: -webkit-box;
  display: -moz-box;
  -display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.billboard-ad.ready {
  opacity: 1;
}
.billboard-ad .minimizer,
.billboard-ad .maximizer {
  position: absolute;
  outline: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  color: #FFFFFF;
  opacity: .3;
  transition: opacity .5s;
}
.billboard-ad .minimizer:hover,
.billboard-ad .maximizer:hover {
  opacity: .7;
}
.billboard-ad .minimizer:focus,
.billboard-ad .maximizer:focus {
  opacity: .9;
}
.billboard-ad .minimizer {
  display: none;
  top: 15px;
  right: 20px;
}
.billboard-ad .maximizer {
  display: none;
  top: 20px;
  left: calc(50% - 315px);
  z-index: 9;
  background: #000000;
  padding: 3px 4px 4px 4px;
  border-radius: 2px;
  transition: top 0.5s, left 0.5s;
}
.billboard-ad .countdown {
  position: absolute;
  top: 17px;
  right: 20px;
}
.billboard-ad .billboard {
  position: static;
  transform: translate3d(0, 0, 0);
  transition: width 0.5s, height 0.5s, bottom 0.5s, left 0.5s, transform 0.5s, margin-bottom 0.5s;
  pointer-events: auto;
  cursor: pointer;
}
.billboard-ad .billboard video,
.billboard-ad .billboard img {
  height: 100%;
  width: 100%;
}
.billboard-ad .billboard .disclaimer {
  position: absolute;
  top: -35px;
  display: block;
  width: 100%;
  text-align: center;
  color: #dfe0e6;
}
.billboard-ad .footer {
  position: absolute;
  bottom: -122px;
  left: 0;
  right: 0;
  height: 122px;
  transition: bottom 0.5s;
  pointer-events: auto;
  border-top: 1px solid $primary-border-color;
  background-color: $secondary-view-bg-color;
}
.billboard-ad .footer .companion {
  position: absolute;
  left: calc(50% - 364px);
  bottom: 16px;
  height: 90px;
  width: 720px;
  transition: left 0.5s;
  cursor: pointer;
  margin-left: 6px;
}
.billboard-ad .footer .companion img {
  height: 100%;
  width: 100%;
}
.billboard-ad.minimized {
  background: rgba(18, 19, 20, 0);
  pointer-events: none;
}
.billboard-ad.minimized .minimizer {
  display: none;
}
.billboard-ad.minimized .companion {
  left: calc(50% - 284px);
}
.billboard-ad.minimized .maximizer {
  display: block;
}
.billboard-ad.minimized .billboard {
  position: absolute;
  bottom: 16px !important;
  left: calc(50% - 448px);
  height: 90px;
  width: 164px;
  transform: scale(1, 1);
  overflow: hidden;
}
.billboard-ad.minimized .billboard .disclaimer {
  display: none;
}
.billboard-ad.minimized .footer {
  bottom: 0px;
}
.billboard-ad.has-been-maximized .footer {
  bottom: 0;
}
.billboard-ad.has-been-maximized .minimizer {
  display: block;
}
.billboard-ad.modal-expanded.video .billboard {
  width: 800px;
}
.billboard-ad.has-been-minimized .countdown {
  display: none;
}
.billboard-ad .modal-expanded {
  left: 0!important;
}
/**
 * Media queries to scale the ad based on screen size
 */
@media (min-height: 0px) and (max-height: 600px) {
  .billboard-ad .billboard {
    transform: scale(0.6, 0.6);
  }
}
@media (min-height: 600px) and (max-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.7, 0.7);
  }
  .billboard-ad.has-been-maximized .billboard {
    margin-bottom: 125px;
  }
}
@media (min-width: 0px) and (max-width: 900px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.6, 0.6);
  }
}
@media (min-width: 900px) and (max-width: 1000px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.7, 0.7);
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.8, 0.8);
  }
}
@media (min-width: 1100px) and (max-width: 1200px) and (min-height: 750px) {
  .billboard-ad .billboard {
    transform: scale(0.9, 0.9);
  }
}
.blurred {
  -webkit-filter: blur(10px);
  transform: scale(1.1);
  opacity: 0.65;
}
#leaderboard-ad-wrapper {
  z-index: 4;
  position: relative;
  overflow: hidden;
}
#leaderboard-ad-element {
  width: 760px;
  height: 90px;
  margin: 16px auto;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 1024px) {
  #leaderboard-ad-element {
    padding: 0 8px;
    margin: 8px auto;
  }
}
@media (max-height: 768px) {
  #leaderboard-ad-element {
    margin: 8px auto;
  }
}
.ne-bg-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.8;
}
.bg-centered {
  background-position: center;
}
.blurred {
  -webkit-filter: blur(10px);
  filter: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20id%3D%22blur%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2210%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E#blur');
  opacity: 0.4;
}
.ne-header {
  padding-bottom: 20px;
}
.ne-container {
  z-index: 2;
  padding-top: 25px;
}
.ne-container .ne-container-center {
  max-width: 685px;
  margin: 0 auto;
}
.ne-container .ne-title {
  font-size: 36px;
  line-height: 38px;
}
.ne-container .ne-attrib {
  font-size: 14px;
  margin-top: 10px;
}
.ne-container .exclusive {
  color: #7ab800;
}
.ne-bottom-fade {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 52px 105px 121px #ffffff;
}
.ne-left-fade {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -moz-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(18, 19, 20, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(right, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to left, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* W3C */
}
.ne-right-fade {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: -moz-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left top, color-stop(0%, rgba(18, 19, 20, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(18, 19, 20, 0) 0%, #ffffff 100%);
  /* W3C */
}
/* GLUE OVERRIDES */
.h-main-content .h-title {
  max-height: 79px;
  margin-bottom: 0;
}
.h-main-content .media-object {
  margin-bottom: 0;
}
.h-main-content .h-description {
  font-size: 12px;
  color: $secondary-text-color;
}
.ne-container.sponsored {
  height: 350px;
}
.sponsored-credits {
  position: absolute;
  right: 16px;
  bottom: 16px;
  max-height: 28px;
  max-width: 230px;
  opacity: 0.6;
}
@media screen and (max-width: 750px) {
  .sponsored-credits {
    display: none;
  }
}
/* GLUE RESIZING OVERRIDES */
@media screen and (max-width: 804px) {
  .h-media {
    width: 210px;
    padding-bottom: 16px;
  }
  .h-description {
    display: -webkit-box;
    visibility: visible;
  }
  .h-controllers {
    left: auto;
  }
}
#hpto {
  position: relative;
  overflow: hidden;
}
#hpto-container {
  max-height: 350px;
  margin-bottom: 14px;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: height 500ms ease;
}
#hpto-container .h-controllers {
  left: auto!important;
}
#hpto-container.hpto-closed {
  height: 0px;
}
.hpto-interactive {
  width: 1200px;
  height: 270px;
  overflow: hidden;
  margin: 0px auto;
  border: none;
  display: block;
}
.ad-iframe {
  width: 800px;
  height: 235px;
  margin: 10px auto 25px;
  border: none;
  display: block;
  overflow: hidden;
}
.hpto-button {
  position: absolute;
  right: 30px;
  top: 24px;
  color: #f6f8ff;
  background: #29292d;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .2s ease;
  padding: 7px 16px 5px 16px;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 9px;
  letter-spacing: 2px;
  z-index: 3;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.hpto-button:hover {
  opacity: 0.8;
  background-color: #3d3e43;
  color: #f6f8ff;
}
.no-hover:hover {
  opacity: 0.4;
  background-color: #29292d;
  cursor: default;
}
/* For html hptos with bg imgs to align with container bg img */
.min-width {
  min-width: 800px;
}
@media screen and (max-width: 804px) {
  .hpto-button {
    display: none;
  }
}
.saf-video-takeover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.saf-video-takeover.will-maximize {
  -webkit-transform-origin: -15% 80%;
  -webkit-transform: scale(0, 0);
}
.saf-video-takeover.will-maximize.maximize {
  transition: -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(1, 1);
}
.saf-video-takeover.will-minimize {
  -webkit-transform-origin: -15% 80%;
  -webkit-transform: scale(1, 1);
}
.saf-video-takeover.will-minimize.minimize {
  transition: -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(0, 0);
}
.saf-video-takeover-min .saf-video-takeover {
  background: #000;
}
.saf-video-takeover-max .saf-video-takeover {
  background: rgba(18, 19, 20, 0.95);
}
.saf-video-takeover-video video {
  cursor: pointer;
}
.saf-video-takeover-min .saf-video-takeover-video video {
  width: 100%;
  padding: 0 10px;
}
@media (max-width: 1000px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 540px;
    margin: 0px;
  }
}
@media (min-width: 1000px) and (max-width: 1279px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 640px;
    margin: 80px;
  }
}
@media (min-width: 1280px) and (max-width: 1899px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 854px;
    margin: 100px;
  }
}
@media (min-width: 1900px) {
  .saf-video-takeover-max .saf-video-takeover-video video {
    max-width: 1280px;
    margin: 150px;
  }
}
.saf-video-takeover-btn-min,
.saf-video-takeover-btn-max {
  display: none;
  background: none;
  border: none;
  color: #FFFFFF;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.saf-video-takeover-btn-max {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: .3;
  transition: opacity .5s;
}
.saf-video-takeover-btn-max:hover {
  opacity: .7;
}
.saf-video-takeover-btn-max:focus {
  opacity: .9;
}
.saf-video-takeover-max .saf-video-takeover-btn-max {
  display: block;
}
html.glue2 #view-video-ad .saf-video-takeover-view {
  z-index: 1025;
}
html.glue2 #view-video-ad .saf-video-takeover-btn-max {
  -webkit-app-region: no-drag;
}
.saf-video-takeover-btn-min {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity .5s;
}
.saf-video-takeover-min .saf-video-takeover-btn-min {
  display: block;
}
.saf-video-takeover-min:hover .saf-video-takeover-btn-min {
  opacity: 1;
}
.bfs-calendar-icon {
  width: 42px;
}
.bfs-calendar-month {
  background-color: #ed1845;
  color: #FFFFFF;
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  padding: 3px 2px 1px 2px;
  text-align: center;
  text-transform: uppercase;
}
.bfs-calendar-day {
  background-color: #333333;
  color: #FFFFFF;
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 23px;
  font-weight: 200;
  line-height: 23px;
  padding: 4px 2px 1px 2px;
  text-align: center;
  text-transform: uppercase;
}
.bfs-concert {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.bfs-concert-date {
  display: table-cell;
  width: 42px;
}
.bfs-concert-info {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
.bfs-concert-info-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bfs-concert-info-venue {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bfs-container {
  min-height: 100vh;
  margin-top: 32px;
}
.bfs-debug-controls-overlay {
  margin: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9001;
}
.bfs-debug-controls-toggle {
  height: 32px;
  line-height: 32px;
  width: 32px;
}
.bfs-debug-controls-controls {
  background-color: $secondary-view-bg-color;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  top: 64px;
  right: 0px;
  width: 320px;
}
.bfs-debug-controls-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.bfs-debug-controls-col-wrapping {
  flex-grow: 0;
  margin: 8px;
}
.bfs-debug-controls-col-expanding {
  flex-grow: 1;
  margin: 8px;
}
.bfs-debug-controls-no-margin {
  margin: 0px;
}
.bfs-debug-controls-input {
  background-color: #333333;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  outline: none;
  padding: 4px;
  text-align: center;
  width: 64px;
}
.bfs-debug-controls-input[disabled] {
  cursor: not-allowed;
}
.bfs-debug-controls-input.invalid {
  background-color: #CD1A2B;
}
.bfs-header-hub {
  height: 340px;
  position: relative;
}
.bfs-header-hub.bfs-header-no-image {
  background-color: #232323;
  height: 200px;
  min-height: 0;
}
.bfs-header-hub.bfs-header-no-image:before {
  background: none;
}
.bfs-header-hub > .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba($primary-text-color, 0)), to(rgba($primary-text-color, 0.8)));
  background-image: -moz-linear-gradient(top, rgba($primary-text-color, 0) 0%, rgba($primary-text-color, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba($primary-text-color, 0) 0%, rgba($primary-text-color, 0.8) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00181818', endColorstr='#cc181818', GradientType=0);
}
.bfs-header-hub > .content > h1 {
  line-height: 100%;
  margin-bottom: 16px;
}
.bfs-header-hub > .content > h1.no-bottom-margin {
  margin-bottom: 0;
}
.bfs-header-hub > .content .info {
  min-height: 44px;
  position: relative;
  background: transparent;
}
.bfs-header-hub > .content .info:before,
.bfs-header-hub > .content .info:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.bfs-header-hub > .content .info:after {
  clear: both;
}
.bfs-header-hub > .content .info .subtitle {
  max-width: 600px;
  margin-top: 12px;
  margin-bottom: 26px;
}
.bfs-list-group .section-divider.section-divider-borderless {
  margin-bottom: 4px;
}
.bfs-list-group .list-group-item.list-group-item-media {
  height: 50px;
  line-height: 48px;
}
.bfs-list-group .list-group-item.list-group-item-media .item-data {
  padding-left: 15px;
}
.bfs-tracklist {
  margin-bottom: 20px;
}
.bfs-tracklist.summary tr:nth-child(5) td {
  border-bottom: 1px solid #282828;
}
.bfs-tracklist.summary tr:nth-child(n+6) {
  display: none;
}
.embedded-app-iframe {
  width: 100%;
  border: none;
  overflow: hidden;
}
.embedded-app-row {
  position: absolute;
  left: 0px;
  right: 0px;
}
.crsl-inner {
  font-size: 0px;
}
.crsl-inner .crsl-item {
  font-size: 14px;
}
.section-divider-title {
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 400;
  color: $primary-text-color;
  text-transform: normal;
  margin: 0;
}
.section-auxiliary a {
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  font-weight: 200;
  color: $secondary-text-color;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
.section-divider-editorial-title {
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 400;
  color: $primary-text-color;
  text-transform: normal;
}
.section-divider-description {
  clear: both;
  letter-spacing: 0px;
  text-transform: none;
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: 200;
  text-transform: normal;
  color: $secondary-text-color;
}
.grid-button {
  margin-bottom: 20px;
}
