@import '../base/variables';


.modal-image-upload {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  overflow: auto;
  background-color: rgba($primary-text-color, 0.7);
}
.modal-image-upload .popover-content {
  text-align: center;
}
.modal-image-upload .input-file-select {
  display: none;
}
.modal-image-upload .file-drag {
  color: #fff;
  display: block;
  padding: 9px;
}
.modal-image-upload .modal {
  display: block;
}
.modal-image-upload .popover-content {
  text-align: center;
  position: relative;
  display: table;
  height: 299px;
}
.modal-image-upload .drop-area {
  position: absolute;
  width: 560px;
  height: 308px;
  top: -9px;
  left: -14px;
  background-color: #3b3d40;
  color: #84bd00;
  border: 2px dashed #84bd00;
  line-height: 308px;
  display: none;
}
.modal-image-upload .button-file-select {
  display: block;
  margin: 10px auto;
  min-width: 300px;
}
.modal-image-upload .progress {
  background-color: #6a6e73;
  width: 100%;
  position: relative;
  height: 20px;
  margin: 0;
  padding: 0;
}
.modal-image-upload .progress-bar {
  background-color: #84bd00;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.modal-image-upload .step {
  display: table-cell;
  vertical-align: middle;
  width: 532px;
  display: none;
  position: relative;
}
.modal-image-upload .popover-footer .btn-primary {
  display: none;
}
.modal-image-upload .upload-error {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}
.modal-image-upload .preview {
  max-height: 260px;
  /* modal body - 20px padding top and bottom */
}
.modal-image-upload .modal-dialog {
  width: 420px;
  left: 50%;
  right: auto;
  margin-left: -210px;
  padding: 0;
}
.modal-image-upload .modal-dialog-small .modal {
  max-height: 350px;
  margin-top: -125px;
}
.modal-image-upload .modal-dialog-small .popover-content {
  height: 199px;
}
.modal-image-upload .modal-dialog-small .preview {
  max-height: 160px;
}
.modal-image-upload .modal-dialog-small .upload-error {
  padding: 5px;
}
.modal-image-upload .modal-dialog-small .drop-area {
  height: 208px;
  line-height: 208px;
}
@media screen and (min-width: 610px) {
  .modal-image-upload .modal-dialog {
    margin-left: -220px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.media-image-edit {
  width: 100%;
  height: 100%;
  background-color: rgba($primary-text-color, 0.8);
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  color: #A0A0A0;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.media-image:hover .media-image-edit {
  opacity: 100;
}
.media.artist .media-image .media-image-edit,
.media.user .media-image .media-image-edit,
.media.artist .media-image .media-placeholder,
.media.user .media-image .media-placeholder {
  border-radius: 500px;
}
html {
  overflow-y: scroll;
}
.profile {
  margin: 0 auto;
}
.profile > .error {
  margin-top: 40px;
}
.profile > .playlists,
.profile > .recent-artists,
.profile > .followers,
.profile > .following {
  display: none;
}
.media-info.has-meta.has-subtitle {
  min-height: 9em;
}
.no-section-divider {
  padding-top: 32px;
}
.header-media {
  position: relative;
}
.media-image-edit:hover {
  opacity: 1;
}
.overlay {
  display: none;
}
.overlay.show {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba($primary-text-color, 0.7);
}
.section-throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.loading-playlists {
  margin-bottom: 20px;
}
.legal-permission {
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  display: inline-flex;
  width: 80%;
  height: 32px;
  align-items: center;
}
.profile-controllers {
  display: flex;
}
.following .list-group-item {
  border-top: 0;
}
.followers .list-group-item {
  border-top: 0;
}
.user-modification-enabled .h-title:hover {
  cursor: pointer;
}
.user-modification-enabled .h-title:focus {
  cursor: text;
}
.user-modification-enabled .h-title[contenteditable="true"] {
  outline: #777 dotted 1px;
}
.loading-playlists-throbber {
  margin: 0 auto;
}
.empty-state {
  margin-top: 30px;
}
.empty-state i {
  color: #A0A0A0;
  line-height: 68px;
}
.empty-state i:before {
  font-family: "glue1-spoticon";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  line-height: inherit;
  vertical-align: bottom;
  content: "\f15d";
  font-size: 64px;
}
.empty-state .message {
  text-align: center;
  padding: 50px 0;
}
.verified .mo-verified {
  display: block;
}
.mo-image-wrapper {
  overflow: visible;
}
.header-user .h-media {
  position: relative;
}
.upload-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.upload-container .add-image-label {
  position: absolute;
  bottom: 0.2em;
  height: 1.2em;
  width: 100%;
  cursor: pointer;
  line-height: 1.2em;
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 0.3s linear;
}
.upload-container .background-stripe {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  opacity: 0.6;
  border-radius: 500px;
  transition: opacity 0.3s linear;
}
.upload-container .background-big {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  transition: opacity 0.3s linear;
}
.upload-container:hover .background-stripe {
  opacity: 0.7;
}
.upload-container:hover .add-image-label {
  color: white;
}
.upload-container.display-hover:hover {
  opacity: 1;
}
.upload-container.display-always {
  opacity: 1;
}
.upload-container.display-always .background-big {
  display: none;
}
.error-and-offline {
  display: block;
}
.error-and-offline .offline-content {
  display: block;
}
