$primary-accent-color: #008CD6; // This is a replacement for Spotify green within the app
$primary-accent-color--dark: #0566a4;
$spotify-green: #1ED760;

$main-view-bg-color: #ffffff;
$secondary-view-bg-color: #FAFAFC;
$input-bg-color: #EBEFF1;
$primary-border-color: #E5E8EA;
