$primary-accent-color: #008CD6; // This is a replacement for Spotify green within the app
$primary-accent-color--dark: #0566a4;
$primary-accent-color--light: #00a7ff;
$spotify-green: #1ED760;

$primary-text-color: #56666F;
$secondary-text-color: #9CA6AC;
$secondary-text-color-hover: #8b949a;

$main-view-bg-color: #ffffff;
$header-bg-color: #FCFCFC;
$selected-row-bg-color: #F3F4F6;
$secondary-view-bg-color: #f2f3f6;
$input-bg-color: #EBEFF1;
$primary-border-color: #E5E8EA;
