/**
 * Tables
 *
 * For basic styling—light padding and only horizontal dividers—add the base class
 * <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant,
 * but given the widespread use of tables for other plugins like calendars and date
 * pickers, we've opted to isolate our custom table styles.
 *
 * Template: tables
 *
 * Styleguide 30.6
 */
table {
  max-width: 100%;
}
th {
  font-weight: 400;
  text-align: left;
}
.table {
  width: 100%;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid $primary-border-color;
  position: relative;
}
.table tbody > tr:last-child > td {
  border-bottom: 1px solid $primary-border-color;
}
.table thead th {
  border-top: 0;
}
.table thead th {
  vertical-align: bottom;
}
